<div class="row">
	<div class="col-12">
		<h3 class="display-3 ml-4">About Me</h3>
		<p class="pl-4"> I'm a proud graduate of Oregon State University and Ohio University, with degrees and Computer Science and History. I love building applications that help solve people's problems. I'd love to join your team!
		<br>
		<br>
		More to come soon.</p>
	</div>
</div>