<div class="row">
	<div class="col-12">
		<h3 class="display-3 mb-4 pl-4">About Me</h3>
		<h5 class="display-5 pl-4">Background</h5>
		<p class="pl-4">
		I'm a proud graduate of Oregon State University's School of Electrical Engineering and Computer Science. I've worked on dozens of projects in fields including web/cloud development, object-oriented programming, networking, shell scripting, parallel computing, assembly language programming, and cryptographic security. I'm most proficient in Python, Javascript, and C but have also worked with C++, Java, C#, R, Bash, and x86 assembly language.
		<br>
		<br>
		In terms of web development, I'm comfortable working in the Node.js ecosystem and have built <a href="https://github.com/pauladams12345/schedule-fairy">several</a> <a href="https://github.com/pauladams12345/personal-website">projects</a> combining a Node back-end with a Bootstrap 4 front-end. I'm proficient using HTML, CSS, Javascript, and jQuery. I have experience designing, building, and interacting with relational databases, in particular MySQL, and have some exposure to NoSQL databases (although I'm <a href="http://www.sarahmei.com/blog/2013/11/11/why-you-should-never-use-mongodb/">not convinced</a> they're always the right tool for the job). I have experience using a number of different IDEs including Visual Studio and Eclipse, although in my personal opinion nothing beats an old-fashioned text editor.
		<br>
		<br>
		</p>
		<h5 class="display-5 pl-4">Beliefs</h5>
		<blockquote class="blockquote text-center pl-4">
		  <p class="mb-0">Ensure that the public good is the central concern during all professional computing work.</p>
		  <footer class="blockquote-footer">Principle 3.1, <cite title="Source Title">ACM Code of Ethics and Professional Conduct</cite></footer>
		</blockquote>
		<p class="pl-4">
		I believe that it is my responsibility as a tech worker to build systems that touch people's lives in a positive way. Technological innovation is about more than just building widgets. The things we create have the potential to bring about enormous changes, sometimes for the better and sometimes for the worse. Every choice we make sends ripples out into our communities. When we act with insufficent care, the disruptions we hope will rock the boat can end up capsizing it instead. 
		<br>
		<br>
		Technology has grown to be critical infrastructure that touches almost every part of our public and private lives. Now, more than ever, I believe that it is crucial for tech professionals to treat our work with the a level of care that matches its ever-growing role in society. In practice, this means bringing many voices to the table when designing systems, and treating all people as stakeholders. It means regularly reviewing the risks and benefits posed by our systems. It means keeping our skills current, and building robust security into products at every step of the process.
		<br>
		<br>
		This is hard work, but it's work that's worth getting done together.
		<br>
		<br>
		</p>
		<h5 class="display-5 pl-4">Identity</h5>
		<p class="pl-4">
		Outside of work, I'm an avid hiker, biker, camper, and cook. Though I never would have believed I'd say this when I was growing up, I love my home state of Ohio and <i>all</i> four of our seasons. I'm a member of <a href="http://www.climateaction.tech">ClimateAction.tech</a>, a community of tech workers using our unique skills to confront the climate crisis. If that sounds like something you'd be interested in, we'd love to have you join us!
		<br>
		<br>
		If you'd like to hit the trails in the Cuyahoga Valley, chat about ethical computing, or discuss an opportunity on your team, please don't hesitate to <a href="/contact">reach out</a>. I'd love to hear from you!</p>
	</div>
</div>