<div class="row">
	<div class="col-12">
		<h3 class="display-3 mb-4 pl-4">About Me</h3>
		<h5 class="display-5 pl-4">Background</h5>
		<p class="pl-4">
		I'm a proud graduate of Oregon State University's School of Electrical Engineering and Computer Science. I've worked on dozens of projects in fields including web/cloud development, object-oriented programming, networking, shell scripting, parallel computing, assembly language programming, and cryptographic security. I'm most proficient in Python, Javascript, and C but have also worked with C++, Java, C#, R, Bash, and x86 assembly language.
		<br>
		<br>
		In terms of web development, I'm very comfortable working in the Node.js ecosystem and have built several projects combining a Node back-end with a Bootstrap 4 front-end. I'm proficient using HTML, CSS, Javascript, and jQuery. I have experience designing, building, and interacting with relational databases, in particular MySQL, and have some exposure to NoSQL databases (although I'm a bit <a href="http://www.sarahmei.com/blog/2013/11/11/why-you-should-never-use-mongodb/">skeptical</a> of their utility). I have experience using a number of different IDEs including Visual Studio and Eclipse, although in my personal opinion nothing beats an old-fashioned text editor.
		<br>
		<br>
		</p>
		<h5 class="display-5 pl-4">Beliefs</h5>
		<p class="pl-4">
		I believe that the current moment is one of unprecedented global change, much of it driven by new advances in technology. I believe that the new systems being created are often designed in an irresponsible way that fails to account for the consequences of the changes they create. "Move fast and break things" works great for achieving growth, but the things getting broken in the process aren't just conventional ideas. The victims of technological progress include <a href="https://www.nytimes.com/2020/01/24/opinion/sunday/surveillance-capitalism.html">personal privacy</a>, <a href="https://www.sciencedirect.com/science/article/pii/S2589537018300609">mental health</a>, <a href="https://www.sciencedirect.com/science/article/pii/S2214629618301051">the environment</a>, and even <a href="https://en.wikipedia.org/wiki/Cambridge_Analytica">democracy</a>.
		<br>
		<br>
		I also believe that <b>it doesn't have to be this way</b>. I think that ifI'm a member of <a href="http://www.climateaction.tech">ClimateAction.tech</a>. We're a community of tech workers to use our unique skills to confront climate change. If that sounds like something you'd be interested in, we'd love to have you join us! Another movement that I'm paying close attention to is tech ethics. As technology play an ever-larger role in both our public and private life, it's become clear that
		<br>
		<br>
		Outside of work, I'm a hiker, biker, and yogi. I'm a husband, son, brother, citizen, and neighbor. I'm a lapsed knitter, social media quitter, and summer afternoon fritterer. Oh, and I'm a pretty darn good cook. ;)
		<br>
		<br>
		If you'd like to meet up to talk about the ethical tech scene in northeast Ohio, or you have a job opportunity you'd like to discuss, please don't hesitate to <a href="/contact">reach out</a>. I'd love to hear from you!</p>
	</div>
</div>