<div class="row">
	<div class="col-12">
		<h2 class="display-2 ml-4 mb-4">Contact</h2>
		<p class="ml-4"><i class="fas fa-lg fa-at mx-2"></i>pauladams12345@gmail.com</p>
		<p class="ml-4"><i class="fas fa-lg fa-phone mx-2"></i>330 354 0937</p>
		<p class="ml-4"><i class="fas fa-lg fa-home mx-2"></i>Akron, OH</p>
		<p class="ml-4"><i class="fab fa-lg fa-github mx-2"></i><a href="https://github.com/pauladams12345">https://github.com/pauladams12345</a></p>
	</div>
</div>