<div class="row">
	<div class="col-12">
		<h3 class="display-3 pl-4">Hi, I'm Paul.</h3>
	</div>
</div>

<div class="row">
	<div class="col-12 mt-3 pl-4">
		<p>I'm a software developer with experience in web development, object-oriented programming, shell scripting, and much more.</p>
		<p>Learn more <a href="/about">about</a> me.</p>
		<p>Check out some of my <a href="https://github.com/pauladams12345">projects</a> or view my <a href="/resume">resume</a>.</p>
		<p><a href="/contact">Get in touch</a>.</p>
	</div>
</div>
