<div class="row">
	<div class="col-12">
		<h2 class="display-2 ml-4" download="/docs/resume.pdf">Resume</h1>
		<img src="/docs/resume.png" class="img-fluid my-4">
		<a class="btn btn-lg btn-primary ml-4" href="/docs/resume.pdf" download="paul_adams_resume.pdf">Download</a>
	</div>
</div>