<div class="row">
	<div class="col-12">
		<h3 class="display-3 ml-4 mb-4">My Resume</h3>
		<img src="/docs/resume.png" class="img-fluid my-4">
		<a class="btn btn-lg btn-primary ml-4" href="/docs/resume.pdf" download="paul_adams_resume.pdf">Download</a>
	</div>
</div>